.frame{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 500px;
	width: 500px;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	background: #fac494;
	border-radius: 3px;
	box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
	color: #fff;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}

.circle{
	position: relative;
	overflow: hidden;
	background: #faec94;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	-webkit-clip-path: circle(50% at 50% 50%); /* clip-path: circlr(size at x y);*/
			clip-path: circle(50% at 50% 50%);
}

.circle .sky{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	height: 130px;
	background: #d0edf0;	
	-webkit-animation: sun-turns-black 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
			animation: sky-turns-black 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

@-webkit-keyframes sky-turns-black{
	0% {
   		background: #556b80;
	}

	30% {
	    background: #a1cbf3;
	}
	70% {
	    background: #91b6da;
	}
	100% {
	    background: #556b80;
	}
}

@keyframes sky-turns-black{
	0% {
   		background: #556b80;
	}

	30% {
	    background: #a1cbf3;
	}
	70% {
	    background: #91b6da;
	}
	100% {
	    background: #556b80;
	}
}


.circle .sun{
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 84px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: #f64f31;
	-webkit-transform-origin: 50% 400%;
			transform-origin: 50% 400%;
	-webkit-animation: sun-goes-down 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
			animation: sun-goes-down 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}


@-webkit-keyframes sun-goes-down{
	0% {
    	background: #F57209;
    	-webkit-transform: rotate(-70deg);
    	transform: rotate(-70deg);
	}

	30% {
	    background: #FFEF00;
	    -webkit-transform: rotate(-28deg);
	    transform: rotate(-28deg);
	}
	70% {
	    background: #FFEF00;
	}
	100% {
	    background: #F57209;
	    -webkit-transform: rotate(70deg);
	    transform: rotate(70deg);
	}
}

@keyframes sun-goes-down{
	0% {
    	background: #F57209;
    	-webkit-transform: rotate(-70deg);
    	transform: rotate(-70deg);
	}

	30% {
	    background: #FFEF00;
	    -webkit-transform: rotate(-28deg);
	    transform: rotate(-28deg);
	}
	70% {
	    background: #FFEF00;
	}
	100% {
	    background: #F57209;
	    -webkit-transform: rotate(70deg);
	    transform: rotate(70deg);
	}
}

.circle .left-side{
	position: absolute;
	top: 74px;
	left: 40px;
	height: 57px;
	width: 116px;
	background: #F4F4F4;
	-webkit-clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
			clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
	-webkit-animation: pyramide-shading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
			animation: pyramide-shading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}
@-webkit-keyframes pyramide-shading{
	0%{
		background: #828181;
	}
	30%{
		background: #fdfbfb;
	}
	70%{
		background: #dcdcdc;
	}
	100%{
		background: #828181;
	}
}

@keyframes pyramide-shading{
	0%{
		background: #828181;
	}
	30%{
		background: #fdfbfb;
	}
	70%{
		background: #dcdcdc;
	}
	100%{
		background: #828181;
	}
}

.circle .right-side{
	position: absolute;
	top: 74px;
	left: 98px;
	height: 57px;
	width: 58px;
	background: #DDDADA;
	-webkit-clip-path: polygon(30% 100%, 0% 0%, 100% 100%);
			clip-path: polygon(30% 100%, 0% 0%, 100% 100%);
	-webkit-animation: pyramide-right-shading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
			animation: pyramide-right-shading 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

@-webkit-keyframes pyramide-right-shading{
	0%{
		 background: #828181;
	}
	30% {
	    background: #e0e0e0;
	}
	70% {
	    background: #f1f1f1;
	}
	100% {
	    background: #828181;
	}
}

@keyframes pyramide-right-shading{
	0%{
		 background: #828181;
	}
	30% {
	    background: #e0e0e0;
	}
	70% {
	    background: #f1f1f1;
	}
	100% {
	    background: #828181;
	}
}

.circle .shadow{
	position: absolute;
	z-index: 2;
  	top: 130px;
  	left: -80px;
  	height: 30px;
 	width: 360px;
 	background: rgba(0, 0, 0, 0.2);
 	-webkit-clip-path: polygon(116px 0%, 235px 0%, 80% 100%);
 			clip-path: polygon(116px 0%, 235px 0%, 80% 100%);
 	-webkit-transform-origin: 50% 0%;
 			transform-origin: 50% 0%;
	-webkit-animation: shadow-on-the-ground 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
			animation: shadow-on-the-ground 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;

}

@-webkit-keyframes shadow-on-the-ground{
	0%{
		-webkit-transform: scaleY(0);
				transform: scaleY(0);
	    
	}
	30% {
		-webkit-transform: scaleY(1);
				transform: scaleY(1);
		-webkit-clip-path: polygon(116px 0%, 235px 0%, 80% 100%);
 				clip-path: polygon(116px 0%, 235px 0%, 80% 100%);
	    
	}
	
	70% {
		-webkit-transform: scaleY(1);
				transform: scaleY(1);
	  
	}
	100% {
		-webkit-transform: scaleY(0);
				transform: scaleY(0);	
		-webkit-clip-path: polygon(116px 0%, 235px 0%, 0% 100%);
 				clip-path: polygon(116px 0%, 235px 0%, 0% 100%);    
	}
}

@keyframes shadow-on-the-ground{
	0%{
		-webkit-transform: scaleY(0);
				transform: scaleY(0);
	    
	}
	30% {
		-webkit-transform: scaleY(1);
				transform: scaleY(1);
		-webkit-clip-path: polygon(116px 0%, 235px 0%, 80% 100%);
 				clip-path: polygon(116px 0%, 235px 0%, 80% 100%);
	    
	}
	
	70% {
		-webkit-transform: scaleY(1);
				transform: scaleY(1);
	  
	}
	100% {
		-webkit-transform: scaleY(0);
				transform: scaleY(0);	
		-webkit-clip-path: polygon(116px 0%, 235px 0%, 0% 100%);
 				clip-path: polygon(116px 0%, 235px 0%, 0% 100%);    
	}
}

.circle .ground{
	position: absolute;
	z-index: 1;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 70px;
	background: #F0DE75;
	-webkit-animation: fading-sand 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
			animation: fading-sand 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

@keyframes fading-sand{
	0%{
		 background: #827739;
	}
	30% {
	    background: #F0DE75;
	}
	70% {
	    background: #f9e46e;
	}
	100% {
	    background: #827739;
	}
}

