@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;
  border-radius: 3px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #80d0c7;
  background: -webkit-linear-gradient(bottom left, #13547a 0%, #80d0c7 100%);
  background: linear-gradient(to top right, #13547a 0%, #80d0c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13547a', endColorstr='#80d0c7',GradientType=1 );
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    width: 370px;
    height: 300px;
    top: 100px;
    left: 65px;
    background: #fff;
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}