@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
.frame{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px 6px rgba(0, 0, 0, 0.3);
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.profile {
    position: relative;
    float: left;
    width: 244px;
    height: 244px;
    margin: 4px 0 0 4px;
    cursor: pointer;
    background: #333;
}

.profile img{
	height: 244px;
	width: 244px;
}

.profile .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0;
}

.profile .plus{
	position: absolute;
  	width: 60px;
  	height: 60px;
  	top: 50%;
  	left: 50%;
  	margin: -30px 0 0 -30px;
	background: #ffea6f;
  	border-radius: 50%;
  	box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.5);
  	opacity: 0;
}

.profile .plus:before{
  	position: absolute;
  	content: '';
  	width: 18px;
  	height: 4px;
	top: 28px;
    left: 21px;
    background: #333;
}

.profile .plus:after {
  	position: absolute;
  	content: '';
  	width: 4px;
  	height: 18px;
	top: 21px;
    left: 28px;
    background: #333;
}